@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif; 
}

.container {
    max-width: 1300px;
    margin: auto;
}
.header{
    display: flex ;
    justify-content : space-between;
    align-items: center
}
a {
    margin: 0 15px;
    color: black;
    opacity: 0.5;
    font-size: 18px;
    text-decoration: none;
    transition: color ease-in-out 0.5s;

}
a:hover{
    color:#335EEA
}
.logo-text{
    color : #335EEA;
    font-weight: 900;
    font-size: 32px;
    letter-spacing:-2.6px
}
.btn{
    padding: 15px 20px;
    color: white;
    font-size: 18px;
    background-color: #335EEA;
    border: none;
    border-radius: 10px;
    transition: opacity ease-in-out 0.5s;
    cursor: pointer;
}
.listings{
    display: flex;
    flex-wrap: wrap;
}
.btn:hover{
    opacity: 0.8

}
.homepage {
    margin: auto;
}

.homepage .row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items:center
}
.homepage .col{
    flex: 0 0 47%;
}
/* .homepage img{
    transform: skew(-15deg, 5deg);
} */
.homepage h1{
    font-size: 50px;
    font-weight: 200;
    line-height: 30px;
    opacity: 0.8
}
.homepage span{
    color: #335EEA;
    font-weight : 300; 
}
.homepage p{
    opacity: 0.5;
    line-height:30px;
    font-size: 18px;
}
img{
    width: 100%;
    object-fit: cover;
}
.homepage button{
    padding: 15px;
    border: none;
    font-size:16px;
    margin-right: 15px;
    border-radius:5px
}
.homepage .flex-button{
    margin-top: 30px;
    display: flex;
}
.flex-button .btn-blue{
    background-color: #335EEA;
    color: white;
    animation: pulse; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.flex-button .btn-grey{
    background-color: rgba(188, 200, 240, 0.2);
    color: #335EEA;

}
.btn-blue::after{
    content : '\25BA';
    margin-left: 10px;
   
}
.homepage .components{
    display: flex;
    flex-wrap: wrap;
    
}
.homepage .components > *{
    display: block;
    flex : 1 1 33.33%
}
 .description-box p{
   opacity: 0.6;
   text-align: left;
}

.section-tag-profile{
    border-top: 2.7px solid rgb(0, 0,0, 12%);
    padding: 50px 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-bottom:2.7px solid rgb(0, 0,0, 12%);
}

.section-tag-profile > *{
    flex : 1 1 10%;
}
.section-form {
    padding: 5rem 0;
    background-color: rgb(0, 0,0, 5%)
}
.section-form .row{
    display: flex;
    align-items: center;
}
.section-form h1{
    font-weight: 100;
    font-size: 28px;
    margin-block-start: 0px;
    line-height: 9px;
    opacity: 0.5;
}
.section-form h2{
     color:rgb(0 , 128, 0, 50%);
    font-weight: 100;
    font-size: 28px;
    margin-block-start: 0px;
    line-height: 0px;
}
.section-form p{
    margin-top: 1rem;
    font-size: 14px;
    color:rgb(0 , 0 , 0, 20%);
    max-width: 70%;

}
.section-form .row > *{
    flex :1 1 45%;
}

.section-form .form-box input{
    
    font-size: 16px;
    border: none;
    padding: 15px 5px;
    border-bottom: 1px solid rgb(0 , 0 , 0, 20%);
   
}
.section-form .form-box input:focus{
    outline: none;
   
}
.form-box .card{
    max-width: 60%;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(0,0,0,20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    transition: transform ease-in-out 0.5s;
}
.form-box .card:hover{
    transform: scale(1.1);
}
.form-box .card-image{
    width: 100%;
}
.form-box .card-image img{
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}
.form-box .card-body{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-body .btn{
    width: 100%;
    background-color:rgb(0 , 128, 0, 50%);
    color: white;
    font-size: 15px;
    margin-top: 2rem;
    border-radius: 5px;
    margin-bottom: 5rem ;
}
.grid-ish{
    display: grid;
    grid-template-columns: auto auto;
    
}
.grid-ish p::before{
    content : '\2713';
    border-radius: 50px;
    padding: 1px 4px;
    margin-right: 5px;
    background-color: rgb(0, 125, 0, 80%);
    color: white;
}
.grid-ish p{
    color: rgb(0, 125, 0, 70%)
}




/* media queries */
@media screen and (max-width: 1080px) {
    
    .homepage .row{
        flex-direction: column;
        text-align: center;
    }
    .homepage .row:nth-child(2)
    {
        margin-top: 5rem;
    }
    .homepage .flex-button{
        justify-content: center;
    }
}

@media screen and (max-width:806px){
    .container{
        max-width: 600px
    }
    .header .btn{
        display:none
    }
    .row{
        flex-direction: column;
        text-align: center;
    }
    .header{
        flex-direction: column;
        align-items: center;
    }
    .listings{
        justify-content:center
    }
    .form-box .card{
        max-width:100%;
        margin-bottom: 5rem;
    }
    .section-form p{
        max-width:100%
    }
    
}
